@font-face {
    font-family: Ak;
    src: url(../font/Arlysse.ttf);
  }
  

html {
    background-color: #061E38;
}

#logo {
    width: 90px;
}

#name {
    color: white;
    font-size: xx-large;
    font-family: Ak;
}

.border {
    padding-top: 5px;
    background-color: black;
    transition: ease-in-out .3s;
    border-radius: 90px;

}

.border:hover {
    transform: scale(1.05);
}

.icono {
    width: 80px;
    margin-left: -15px;
    margin-top: 10px;
    margin-bottom: -6px;
}

#center {
    line-height: 70px;
    margin-left: -10%;
}

a {
    color: white;
    font-size: xx-large;
    font-family: Ak;
}

.iconosnav {
    width: 50px;
    transition: ease-in-out .3s;
}

.iconosnav:hover {
    transform: scale(1.05);
}


#footer1 {
    background-color: #cc2936;
    padding: 20px;
    color: #fff;
}